* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  flex-direction: row;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
  margin: 0;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  max-width: 496px;
  margin: auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  margin: 24px;
}

.logo-part-one {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-part-two {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.16667;
  text-transform: uppercase;
  color: #2e2f42;
}

a {
  text-decoration: none;
}
.nav-main .address-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 40px;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address-nav {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  padding: 24px 40px;
}

.address-nav:hover,
.address-nav:focus {
  color: #404bbf;
}
.main-hero.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
.main-hero {
  background-color: #2e2f42;
  height: 600px;
}
.nav-main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
  flex-grow: 1;
}

.hero-button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  border: none;
  text-align: center;
  white-space: nowrap;
  display: block;
  margin: 48px auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.features .container {
  height: 344px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.features-item {
    width: calc((100% - 3 * 24px) / 4);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-title {
  padding-bottom: 8px;
  margin-top: 120px;
}
.text-features {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-right: 24px;
}
.team .container {
  height: 732px;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  border: 1px solid #000;
  padding: 120px 0;
}
.team-title {
  margin-top: 120px;
  margin-bottom: 72px;
  text-align: center;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team {
  background: #f4f4fd;
}

.team-part {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0 0 4px 4px;
  height: auto;
  margin-right: 24px;
  margin-bottom: 120px;
}
.card-wrapper {
  padding: 32px 16px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  
}
.border-team {
  border: 1px solid #000;
  border-top: none;
  height: 120px;
}

.team-worker {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-top: 32px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-top: 8px;
}

.portfolio .container {
  height: 1240px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  gap: 24px;
}
.grid-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
 grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.grid-list li {
  flex: 0 0 calc(33.33% - (8px * 2 / 3));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.portfolio-main-title {
  padding-bottom: 72px;
}

.portfolio-title {
  padding-top: 32px;
}
.portfolio-part-app {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 8px;
}

.portfolio-part {
  background: #fff;
  width: 360px;
  height: 420px;
  margin-top: 48px;
}
.border-portfolio {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
}

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  display: block;
  margin-top: 140px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  height: 112px;
  padding-top: 16px;
}

.footer-logo-part-one {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}

.footer-logo-part-two {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}
